{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Management System{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}
</head>
<body>    



            
    
    {% block content %}{% endblock %}
    


    {% bootstrap_javascript %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>