.dropzone-area {
  cursor: pointer;
}

.sidebar {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding-top: 20px;
}
.content {
  padding: 20px;
}
.nav-link {
  color: #333;
  margin-bottom: 10px;
}
.nav-link.active {
  font-weight: bold;
  color: #007bff;
}
